@font-face{
    font-family: "regular";
    src: url('../fonte/Sitka-regular.ttc');
}

@font-face{
    font-family: "bold";
    src: url('../fonte/Sitka-bold.ttc');
}

@font-face{
    font-family: "italico";
    src: url('../fonte/Sitka-italic.ttc');
}

@font-face{
    font-family: "italico-bold";
    src: url('../fonte/Sitka-italic-bold.ttc');
}

:root{
    --padrao: #353535;
    --preto: #000000;
    --branco: #ffffff;
    --roxo: #662D91;
    --lilas: #D700FF;
    --regular: "regular";
    --bold: "bold";
    --italico: "italico";
    --italcoBold: "italico-bold";
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--regular); 
    color: var(--preto);
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url("../imagens/pattern-site.png");
    background-color: #eeeeee;
    overflow-y: hidden;
}

header{
    display: block;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 999;
}

header img{
    position: relative;
    width: 255px;
    z-index: 2;
}

.container{
    max-width: 89.6vw;
    margin: auto;
}

.container-content{
    max-width: 73.7vw;
}

#aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 8%;
    height: 100vh;
    right: 3%;
    border-left: 1px solid #B4B4B4;
    padding-left: 50px;
    z-index: 10;
}

#aside #menu-lateral{
    display: flex;
    flex-direction: column;
}

#aside #menu-lateral a{
    display: flex;
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 30px;
    transition: color .6s ease;
}

#aside #menu-lateral a svg{
    padding-left: 10px;
    transition: fill 0.6s ease;
    display: none;
}

#aside #menu-lateral a svg:hover path{
    fill: var(--lilas);
}

#aside #menu-lateral a:hover{
    color: var(--lilas);
}

#aside #menu-lateral a:link{
    transition: all .6s ease-in-out;
}


#redes{
    position: relative;
    margin-top: 35px;
    z-index: 1111;
}

#redes svg:hover path{
    fill: var(--lilas);
    transition: fill .5s ease;
}

#celo-logo{
    position: relative;
    bottom: -26vh;
}

#celo-logo p, #redes p{ 
    padding-bottom: 5px;
}

/* home */

#banner-hero{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    z-index: 1;
}

#banner-hero img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

#banner-hero div{
    position: relative;
    top: 25vh;
    z-index: 5;
}

#banner-hero div h1{
    font-size: 5.2em;
    font-family: var(--bold);
    line-height: 1.1;
    width: 30%;
    color: var(--branco);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 1.0);
}

#banner-hero div p{
    font-size: 1.5em;
    width: 20%;
    color: var(--padrao);
}



/* Sobre Nós */

#sobre{
    padding: 210px 0;
}

.top-internal{
    padding-bottom: 50px;
}

.top-internal h1{
    font-size: 5.7em;
    font-family: var(--bold);
    line-height: 1;
}

.top-internal h2{
    font-size: 1.3em;
    font-weight: 400;
}

#content-sobre{
    display: flex;
}

#content-sobre p{
    padding-right: 40px;
    text-align: justify;
    font-size: 0.9em;
}

#content-sobre img{
    height: fit-content;
}


/* Integrantes */

#integrantes{
    padding-top: 180px;
    padding-bottom: 190px;
    
}

.owl-prev, .owl-next{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btns-carousel{
    position: absolute;
    width: 100%;
    top: 45%;
}

.owl-next{
    position: absolute;
    right: 0;
}

#integrantes .owl-item img:first-child{
    position: absolute;
    top: 0;
    height: 82.8%;
    max-width: max-content;
    left: 10%;
}

#integrantes .content-integrante{
    position: absolute;
    bottom: 3.5%;
    text-align: center;
    left: 30%;
}

.content-integrante h1{
    font-family: var(--bold);
    font-size: 1.4em;
}

.content-integrante h1, .content-integrante p{
    color: var(--branco);
}


/* Eventos */

#eventos{
    padding-top: 190px;
    padding-bottom: 105px;
}

#eventos .owl-item img{
    width: 349px;
    height: 455px;
}

#eventos .content-evento{
    position: absolute;
    text-align: center;
    width: 81%;
    left: 11%;
    bottom: 9%;
    z-index: 1111;
}

#eventos .content-evento h1{
    text-align: left;
    font-size: 1.2em;
    font-family: var(--regular);
    font-weight: 400;
}

#eventos .content-evento p{
    width: 50%;
    padding: 10px 0;
    background-color: var(--roxo);
    margin-top: 10px;
    position: relative;
    left: 0%;
}

#eventos .content-evento h1, #eventos .content-evento p{
    color: var(--branco);
}


/* Página integrante */

#pagina-integrante{
    padding-top: 210px;
    padding-bottom: 50px;
}

#content-integrante{
    display: flex;
    justify-content: space-between;
}

.content-left{
    width: 63%;
}

#header-integrante{
    display: flex;
    justify-content: space-between;
}

#header-integrante h1{
    font-family: var(--bold);
}

.img-integrante-interna{
    width: 396px;
    height: auto;
    display: block;
    position: relative;
}

.img-integrante-interna img{
    position: absolute;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.bg-img-integrante{
    width: 100%;
    height: 429px;
    background-color: var(--lilas);
}

.menu-integrante{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--roxo);
}

.menu-integrante a{
    text-decoration: none;
    padding-right: 20px;
    color: var(--branco);
    opacity: 0.6;
    font-size: 0.9em;
    transition: opacity .5s ease;
}

.active, .menu-integrante a:hover{
    opacity: 1 !important;
}

.menu-integrante a:first-child{
    padding-left: 20px;
}

.content{
    display: none;
    margin-top: 30px;
}

.content p, .conteudo-evento p{
    overflow-y: auto;
    height: 349px;
}

.content p::-webkit-scrollbar{
    width: 10px;
    
}

.content p::-webkit-scrollbar-thumb{
    background: var(--roxo);
    border-radius: 10px;
}

.content p::-webkit-scrollbar-track{
    background: var(--branco);
    border-radius: 10px;
}

.show{
    display: block;
}

/* Página Eventos */

.conteudo-evento{
    display: flex;
    gap: 30px;
}

.conteudo-evento p, .conteudo-evento img{
    margin-top: 30px;

}

/* Footer */

footer{
    position: fixed;
    left: 5.2%;
    bottom: 3%;
}

/**/

/* btn */
.menu {
	position: absolute;
	display:  inline-block;
	width: 30px;
	height: 30px;
	margin: 25px;
    z-index: 9999;
    right: 6vw;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	background-color: #000;
	display: block;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}

.main-menu{
    display: none;
}
/* --- btn --- */



/* animation */

.animation span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.active span { /* hover */
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.animation span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.active span:before { /* hover */
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.animation span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.active span:after { /* hover */
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/* -- animation -- */


/* Responsivo */

@media screen and (max-width: 1560px){
    #aside{
        width: 9.5%;
    }
}

@media screen and (max-width: 1340px){
    #aside{
        width: 10.7%;
    }

    #banner-hero img{
        opacity: .3;
    }
}

@media screen and (max-width: 1320px){
    #banner-hero img{
        left: 40%;
        height: 95%;
    }
}

@media screen and (max-width: 1150px){
    #aside{
        width: 12.7%;
    }
}

@media screen and (max-width: 1080px){

    #banner-hero img{
        left: 40%;
        height: 80%;
    }
}

@media screen and (max-width: 1040px) {
    #aside{
        width: 14.7%;
    }
}

@media screen and (max-width: 980px) {
    #banner-hero img{
        left: 40%;
        height: 60%;
    }
}

@media screen and (max-width: 900px) {
    #aside{
        width: 16.7%;
    }
}

@media screen and (max-width: 830px) {
    #aside{
        width: 18.7%;
    }

    #banner-hero img{
        left: 35%;
        height: 50%;
    }
}

@media screen and (max-width: 768px) {

    .main-menu-open{
        width: 28% !important;
        right: 0% !important;
        transition: right .6s ease;
        background-color: #eeeeee;
        z-index: 11111;
    }

    .main-menu{
        display: block;
        right: 117%;
        top: 5%;
        z-index: 9999;
        position: absolute;
    }

    #aside{
        right: -18.3cap;
        transition: right .6s ease;
    }

    #banner-hero img{
        left: 50%;
        width: 100vw;
        height: auto;
    }
    
    #banner-hero div h1{
        font-size: 4.6em;
    }

    #banner-hero div p{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    .main-menu{
        right: 125%;
    }
}

@media screen and (max-width: 560px){
    .main-menu{
        right: 135%;
    }
}

@media screen and (max-width: 470px){
    .main-menu{
        right: 240%;
        top: 6.5%;
    }
}

@media screen and (max-width: 375px){
    .main-menu{
        right: 320%;
        top: 6.5%;
    }

    header img{
        width: 160px;
    }

    #aside{
        right: -19cap;
        transition: right .6s ease;
        z-index: 11111;
    }

    .main-menu-open{
        width: 75% !important;
    }

}

@media screen and (max-width: 325px){
    .main-menu{
        right: 245%;
        top: 9%;
    }

}


@media screen and (max-width: 950px){
    body{
        background-color: red;
    }

}

